body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #6ce6cb;
    color: #333;
}

header, footer {
    background-color: #2d539b;
    color: rgb(95, 169, 218);
    text-align: center;
    padding: 1em 0;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
    background: rgb(230, 229, 229);
}

th, td {
    padding: 8px;
    text-align: left;
    border: 1px solid #ccc;
}
